*.env
user-data.sh
trust-policy.json
secrets-policy.json

/move/enclave/build
/move/*/build

/src/nautilus-server/target

/out
/target

/move/nereus/scripts/node_modules/*
/move/nereus/scripts/package-lock.json
/move/nereus/scripts/package.json

.secret

*.pem